body {
  width:80%;
  margin:auto;
}

body .row {
  margin:auto;
}

.center {
  margin:auto;
  display:block;
}

.row * {
  display:inline-block;
  vertical-align:middle;
}

.row {
  padding-top:10px;
  padding-bottom:10px;
  margin:auto;
}
